body {
    background-color: #6A4233;
    font-size: 14;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipes_parent {
    position: relative;
    margin: 10px auto; 
    background-color: #6A3333;
    width: 80%;
    height: auto;
    border: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}